{% extends "base_generic.html" %}
{% block login%}
    active
{% endblock %}
{% block content %}
<main id="main-auth">
  <div id="auth-form">
    {% if form.errors %}
    <div><p>Профиль не найден. Попробуйте еще раз</p></div>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <div><p>Вы не имеет доступа к этой странице</p></div>
      {% else %}
        <div><p>Войдите, чтобы просмотреть эту страницу</p></div>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="input-div">
      <div><strong>Логин</strong></div>
      <div class="user-input">{{ form.username }}</div>
    </div>
    <div class="input-div">
      <div><strong>Пароль</strong></div>
      <div class="user-input">{{ form.password }}</div>
      {# Assumes you setup the password_reset view in your URLconf #}
      <a href="{% url 'password_reset' %}">Забыли пароль?</a>
    </div>
    <div class="button-div"><input type="submit" id="auth-button" class="btn btn-success" value="Войти" /></div>
    <div><input type="hidden" name="next" value="{{ next }}" /></div>
    </form>
  </div>
</main>
{% endblock %}