{% extends "base_generic.html" %}

{% block content %}
<main id="main-auth">
<div id="auth-form">
    {% if validlink %}
        {% if form.new_password2.errors %}
            <div>Введите пароль снова</div>
        {% else %}
            <p>Пожалуйста, введите ваш новый пароль</p>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-div">
                <div>Новый пароль</div>
                <div class="user-input">{{ form.new_password1 }}</div>
            </div>
            <div class="input-div">
                <div>Подтверждение пароля</div>
                <div class="user-input">{{ form.new_password2 }}</div>
            </div>
            <div class="button-div"><input type="submit" id="auth-button" class="btn btn-success" value="Изменить пароль" /></div>
        </form>
    {% else %}
        <h1>Пароль не был изменен</h1>
        <p>Ссылка сброса недействительна. Воспользуйтесь сбросом пароля снова</p>
    {% endif %}
</div>
</main>
{% endblock %}