{% extends "base_generic.html" %}
{% block content %}
<main id="main-auth">
<div id="auth-form">
    <form action="" method="post">{% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <div class="input-div">
            <div><strong>Email</strong></div>
            <div class="user-input">{{ form.email }}</div>
        </div>
        <div class="button-div"><input type="submit" id="auth-button" class="btn btn-success" value="Сбросить пароль" /></div>
    </form>
</div>
</main>
{% endblock %}